# Environment variables
.env
.env.*
!.env.example
apps/agents/.env

# Python Virtual Environments
.venv/
env/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node Dependencies
node_modules/

# Binary Executables & Archives
lk
*.tar.gz

